name: Auto Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: YOUR_EC2_PUBLIC_IP
        username: ec2-user
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd /var/www/html
          git pull
          sudo systemctl restart httpd
